In [1]:
import pandas as pd
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4lmIMpD1jqLXnTCkBZP2w9Tb26Urkl2JghQUTz8id3dGVR1Z1zMLqOS4QtzFhkJ33Q1dHtQsvl-6H/pub?output=csv"
url = 'CSE Thesis - Sheet1.csv'
df = pd.read_csv(url)
df.columns = df.iloc[0]  # Set the first row as the header
df = df.drop(index=0)    # Drop the first row
df.reset_index(drop=True, inplace=True)
df

,Date,name,e-mail,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,2024-04-24 09:30,NaN,NaN,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,2024-04-24 09:58,NaN,NaN,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,2024-04-24 09:58,NaN,NaN,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,"Salary,Job Environment",Software Development
3,2024-04-24 10:18,NaN,NaN,Male,4th,3.78,United International University (UIU),Intermediate,Advance,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,"Salary,Job Environment",Software Development
4,2024-04-24 10:18,NaN,NaN,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2024-04-27 01:06,NaN,NaN,Female,4th,3.2,Northern University Bangladesh (NUB),Intermediate,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,NaN,"Bank Job,Govt Job"
464,2024-04-25 23:50,NaN,NaN,Male,4th,3.64,Comilla University (CoU),Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Advance,Basic,Basic,Intermediate,2,4,"Job Environment,Salary","Software Development,Networking,Cyber Security..."
465,2024-04-26 05:37,NaN,NaN,Male,4th,3.7,Comilla University (CoU),Intermediate,Advance,Intermediate,...,Basic,Basic,Basic,Basic,Intermediate,Advance,3,3,"Job Environment,Salary,Social Acceptance",Abroad
466,2024-04-26 08:02,NaN,NaN,Male,4th,3.3,Northern University Bangladesh (NUB),Intermediate,Intermediate,Intermediate,...,Basic,Advance,Intermediate,Basic,NaN,Basic,0,2,"Job Environment,Salary","Networking,Cyber Security"
467,2024-04-26 11:22,NaN,NaN,Female,4th,3.79,Comilla University (CoU),Intermediate,Advance,Advance,...,Basic,Basic,Basic,Basic,Intermediate,Basic,0,4,"Job Environment,Salary",Hardware Sector

In [2]:
df.shape

(468, 27)

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date')
df

,Date,name,e-mail,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,2024-04-24 09:30:00,NaN,NaN,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,2024-04-24 09:58:00,NaN,NaN,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,2024-04-24 09:58:00,NaN,NaN,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,"Salary,Job Environment",Software Development
3,2024-04-24 10:18:00,NaN,NaN,Male,4th,3.78,United International University (UIU),Intermediate,Advance,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,"Salary,Job Environment",Software Development
4,2024-04-24 10:18:00,NaN,NaN,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2024-11-14 05:58:00,NaN,NaN,Male,4th,3.88,University of Chittagong (CU),Intermediate,Intermediate,Advance,...,Intermediate,Basic,NaN,Advance,Intermediate,Advance,2,2,"Salary,flaxible Work Life Balanced","Researcher,Abroad"
428,2024-11-14 06:01:00,NaN,NaN,Male,4th,3.55,American International University-Bangladesh (...,Intermediate,Intermediate,Intermediate,...,Basic,Intermediate,Basic,Advance,Intermediate,Intermediate,1,4,"Job Environment,Salary","Data Analysis,ML/AI Engineer"
429,2024-11-14 06:02:00,NaN,NaN,Male,4th,3.39,American International University-Bangladesh (...,Intermediate,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Intermediate,Intermediate,1,3,Job Environment,UI/UX Designing
430,2024-11-21 03:38:00,NaN,NaN,Male,4th,3.33,Mawlana Bhashani Science & Technology Universi...,Advance,Intermediate,Advance,...,Intermediate,Basic,Basic,Intermediate,NaN,Basic,NaN,4,"Job Environment,Salary","Software Development,ML/AI Engineer"
431,2024-11-21 03:45:00,NaN,NaN,Male,4th,2.98,CCN University of Science & Technology (CCNUST),Intermediate,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Basic,NaN,NaN,2,"Job Security,Salary","Bank Job,Govt Job"

In [4]:
df.drop(['Date','name','e-mail'], axis=1, inplace=True)
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,Intermediate,Advance,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,"Salary,Job Environment",Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Advance,Intermediate,Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,"Salary,Job Environment",Software Development
4,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Male,4th,3.88,University of Chittagong (CU),Intermediate,Intermediate,Advance,Advance,Basic,Intermediate,...,Intermediate,Basic,NaN,Advance,Intermediate,Advance,2,2,"Salary,flaxible Work Life Balanced","Researcher,Abroad"
428,Male,4th,3.55,American International University-Bangladesh (...,Intermediate,Intermediate,Intermediate,Advance,Intermediate,Intermediate,...,Basic,Intermediate,Basic,Advance,Intermediate,Intermediate,1,4,"Job Environment,Salary","Data Analysis,ML/AI Engineer"
429,Male,4th,3.39,American International University-Bangladesh (...,Intermediate,Basic,Intermediate,Intermediate,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Intermediate,Intermediate,1,3,Job Environment,UI/UX Designing
430,Male,4th,3.33,Mawlana Bhashani Science & Technology Universi...,Advance,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Basic,Basic,Intermediate,NaN,Basic,NaN,4,"Job Environment,Salary","Software Development,ML/AI Engineer"
431,Male,4th,2.98,CCN University of Science & Technology (CCNUST),Intermediate,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,NaN,NaN,2,"Job Security,Salary","Bank Job,Govt Job"

In [5]:
print(df.duplicated().sum())

10

In [6]:
university = df.groupby('university_name').size().reset_index(name='Count')
university = university.sort_values(by='Count',ascending=False)
#print(university)

university.to_csv('university.csv')

In [7]:
university.shape

(47, 2)

In [8]:
df['gender'].value_counts()

gender
Male      367
Female    101
Name: count, dtype: int64

In [7]:
year = df.groupby('year').size().reset_index(name='Count')
year = year.sort_values(by='Count',ascending=False)
year

  year  Count
3  4th    362
2  3rd     58
1  2nd     31
0  1st     17

In [8]:
year.sum()

year     4th3rd2nd1st
Count             468
dtype: object

In [9]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                7
university_name                                     0
Critical Thinking                                   3
Problem Solving                                     3
Team Work                                           2
Communication Skill                                 5
Software Engineering Principal                     14
Data Structure & Algorithm                         11
Database Management                                12
Data Analysis                                      24
Web Developing Skill                               17
Understanding of computer architecture & System    26
Understanding Operating System                     20
Networking Concept                                 30
Cyber Security                                     42
Maching Learning                                   45
Robotics                                           76
Research Skill                                     80
publication                                        85
project                                            17
Influencing Factor                                 12
Prefer Job                                          9
dtype: int64

In [10]:
df['year']=df['year'].fillna('4th')
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,Intermediate,Advance,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,"Salary,Job Environment",Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Advance,Intermediate,Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,"Salary,Job Environment",Software Development
4,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,Female,4th,3.2,Northern University Bangladesh (NUB),Intermediate,Basic,Intermediate,Intermediate,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,NaN,"Bank Job,Govt Job"
464,Male,4th,3.64,Comilla University (CoU),Intermediate,Intermediate,Intermediate,Advance,Intermediate,Intermediate,...,Intermediate,Intermediate,Advance,Basic,Basic,Intermediate,2,4,"Job Environment,Salary","Software Development,Networking,Cyber Security..."
465,Male,4th,3.7,Comilla University (CoU),Intermediate,Advance,Intermediate,Advance,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Intermediate,Advance,3,3,"Job Environment,Salary,Social Acceptance",Abroad
466,Male,4th,3.3,Northern University Bangladesh (NUB),Intermediate,Intermediate,Intermediate,Basic,Intermediate,Intermediate,...,Basic,Advance,Intermediate,Basic,NaN,Basic,0,2,"Job Environment,Salary","Networking,Cyber Security"
467,Female,4th,3.79,Comilla University (CoU),Intermediate,Advance,Advance,Advance,Intermediate,Advance,...,Basic,Basic,Basic,Basic,Intermediate,Basic,0,4,"Job Environment,Salary",Hardware Sector

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           468 non-null    object
 1   year                                             468 non-null    object
 2   cgpa                                             461 non-null    object
 3   university_name                                  468 non-null    object
 4   Critical Thinking                                465 non-null    object
 5   Problem Solving                                  465 non-null    object
 6   Team Work                                        466 non-null    object
 7   Communication Skill                              463 non-null    object
 8   Software Engineering Principal                   454 non-null    object
 9   Data Structure & Algorithm                       457 non-null    object
 10  Database Management                              456 non-null    object
 11  Data Analysis                                    444 non-null    object
 12  Web Developing Skill                             451 non-null    object
 13  Understanding of computer architecture & System  442 non-null    object
 14  Understanding Operating System                   448 non-null    object
 15  Networking Concept                               438 non-null    object
 16  Cyber Security                                   426 non-null    object
 17  Maching Learning                                 423 non-null    object
 18  Robotics                                         392 non-null    object
 19  Research Skill                                   388 non-null    object
 20  publication                                      383 non-null    object
 21  project                                          451 non-null    object
 22  Influencing Factor                               456 non-null    object
 23  Prefer Job                                       459 non-null    object
dtypes: object(24)
memory usage: 87.9+ KB

In [12]:
df['publication']=df['publication'].fillna(0)
df['project']=df['project'].fillna(0)
print(df['publication'])
print(df['project'])

0      1
1      0
2      0
3      0
4      0
      ..
463    0
464    2
465    3
466    0
467    0
Name: publication, Length: 468, dtype: object
0      2
1      0
2      2
3      1
4      5
      ..
463    2
464    4
465    3
466    2
467    4
Name: project, Length: 468, dtype: object

In [13]:
#converted publication and research_paper int int32 form
convert_dict = {'publication': 'int16',
                'project': 'int16',
                'cgpa':'float64'
               }
df = df.astype(convert_dict)
df.sample(10)

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
259,Male,4th,2.56,Shahjalal University of Science & Technology (...,Advance,Advance,Intermediate,Intermediate,Advance,Advance,...,Basic,Basic,NaN,Basic,NaN,Intermediate,1,1,"Social Acceptance,Job Environment,Salary",Software Development
280,Male,4th,3.71,Khulna University (KU),Basic,Basic,Basic,Intermediate,Basic,Basic,...,Basic,NaN,NaN,NaN,NaN,NaN,0,1,Job Security,"Bank Job,BCS,Govt Job"
162,Male,4th,3.83,University of Rajshahi (RU),Intermediate,Basic,Advance,Intermediate,Basic,Intermediate,...,Basic,Basic,Basic,Advance,Basic,Advance,3,0,"Job Environment,flaxible Work Life Balanced",Abroad
224,Male,4th,3.20,American International University-Bangladesh (...,Basic,Basic,Intermediate,Intermediate,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,4,NaN,NaN
329,Male,4th,3.95,BRAC University (BRACU),Intermediate,Intermediate,Intermediate,Advance,Intermediate,Intermediate,...,Intermediate,Basic,Basic,Intermediate,Basic,Advance,5,2,"Salary,flaxible Work Life Balanced","Researcher,Abroad"
114,Male,3rd,3.00,Mawlana Bhashani Science & Technology Universi...,Basic,Basic,Intermediate,NaN,NaN,Basic,...,Basic,NaN,NaN,NaN,Basic,NaN,0,1,Job Environment,Software Development
372,Female,4th,3.73,Rajshahi University of Engineering & Technolog...,Advance,Intermediate,Advance,Advance,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Intermediate,Intermediate,2,2,"Salary,flaxible Work Life Balanced","Teaching,Govt Job"
312,Male,4th,3.85,"Islamic University, Bangladesh (IU)",Advance,Advance,Intermediate,Advance,advance,Advance,...,Intermediate,Basic,Basic,Intermediate,Basic,Advance,2,4,"Salary,flaxible Work Life Balanced","Researcher,Abroad"
264,Male,4th,3.56,"Islamic University, Bangladesh (IU)",Advance,Advance,Advance,Intermediate,advance,Advance,...,Intermediate,Basic,Basic,Basic,Basic,Basic,0,3,Salary,"Software Development,Database Administration"
127,Male,4th,2.80,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,Basic,...,Advance,Intermediate,Basic,Basic,Intermediate,Basic,0,3,"Job Security,Job Environment,Salary","Software Development,Database Administration,D..."

In [10]:
print(df.columns)

Index(['gender', 'year', 'cgpa', 'university_name', 'Critical Thinking',
       'Problem Solving', 'Team Work', 'Communication Skill',
       'Software Engineering Principal', 'Data Structure & Algorithm',
       'Database Management', 'Data Analysis', 'Web Developing Skill',
       'Understanding of computer architecture & System',
       'Understanding Operating System', 'Networking Concept',
       'Cyber Security', 'Maching Learning', 'Robotics', 'Research Skill',
       'publication', 'project', 'Influencing Factor', 'Prefer Job'],
      dtype='object', name=0)

In [15]:
project = df.groupby('project').size().reset_index(name='Count')
#year = year.sort_values(by='Count',ascending=False)
project

   project  Count
0        0     39
1        1     99
2        2    135
3        3     79
4        4     56
5        5     45
6        6     13
7        7      1
8       10      1

In [16]:
publication = df.groupby('publication').size().reset_index(name='Count')
#year = year.sort_values(by='Count',ascending=False)
publication

   publication  Count
0            0    314
1            1     94
2            2     30
3            3     18
4            4      7
5            5      5

In [17]:
df.describe()

0            cgpa  publication     project
count  461.000000   468.000000  468.000000
mean     3.324403     0.557692    2.457265
std      0.453738     1.000473    1.577509
min      0.000000     0.000000    0.000000
25%      3.100000     0.000000    1.000000
50%      3.380000     0.000000    2.000000
75%      3.600000     1.000000    3.000000
max      4.000000     5.000000   10.000000

In [18]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                7
university_name                                     0
Critical Thinking                                   3
Problem Solving                                     3
Team Work                                           2
Communication Skill                                 5
Software Engineering Principal                     14
Data Structure & Algorithm                         11
Database Management                                12
Data Analysis                                      24
Web Developing Skill                               17
Understanding of computer architecture & System    26
Understanding Operating System                     20
Networking Concept                                 30
Cyber Security                                     42
Maching Learning                                   45
Robotics                                           76
Research Skill                                     80
publication                                         0
project                                             0
Influencing Factor                                 12
Prefer Job                                          9
dtype: int64

In [19]:

df['cgpa'].isna().sum()

7

In [20]:
df['cgpa'].mean()

3.3244034707158354

In [21]:
df['cgpa']=df['cgpa'].fillna(df['cgpa'].mean())

In [22]:
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,Intermediate,Advance,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,Male,4th,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,0,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,"Salary,Job Environment",Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Advance,Intermediate,Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,"Salary,Job Environment",Software Development
4,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Advance,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,Female,4th,3.20,Northern University Bangladesh (NUB),Intermediate,Basic,Intermediate,Intermediate,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,NaN,"Bank Job,Govt Job"
464,Male,4th,3.64,Comilla University (CoU),Intermediate,Intermediate,Intermediate,Advance,Intermediate,Intermediate,...,Intermediate,Intermediate,Advance,Basic,Basic,Intermediate,2,4,"Job Environment,Salary","Software Development,Networking,Cyber Security..."
465,Male,4th,3.70,Comilla University (CoU),Intermediate,Advance,Intermediate,Advance,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Intermediate,Advance,3,3,"Job Environment,Salary,Social Acceptance",Abroad
466,Male,4th,3.30,Northern University Bangladesh (NUB),Intermediate,Intermediate,Intermediate,Basic,Intermediate,Intermediate,...,Basic,Advance,Intermediate,Basic,NaN,Basic,0,2,"Job Environment,Salary","Networking,Cyber Security"
467,Female,4th,3.79,Comilla University (CoU),Intermediate,Advance,Advance,Advance,Intermediate,Advance,...,Basic,Basic,Basic,Basic,Intermediate,Basic,0,4,"Job Environment,Salary",Hardware Sector

In [23]:
df['Prefer Job'].isna().sum()

9

In [24]:
df['Prefer Job']=df['Prefer Job'].fillna('Other')
df['Influencing Factor']=df['Influencing Factor'].fillna('Other Factor')

In [25]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                0
university_name                                     0
Critical Thinking                                   3
Problem Solving                                     3
Team Work                                           2
Communication Skill                                 5
Software Engineering Principal                     14
Data Structure & Algorithm                         11
Database Management                                12
Data Analysis                                      24
Web Developing Skill                               17
Understanding of computer architecture & System    26
Understanding Operating System                     20
Networking Concept                                 30
Cyber Security                                     42
Maching Learning                                   45
Robotics                                           76
Research Skill                                     80
publication                                         0
project                                             0
Influencing Factor                                  0
Prefer Job                                          0
dtype: int64

In [26]:
df=df.fillna(0)

In [27]:
df.isna().sum().sum()

0

In [28]:
df=df.replace({'Basic','basic'}, 1)
df=df.replace({'Intermediate','intermediate'},2)
df=df.replace({'Advance','advance'},3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           468 non-null    object
 1   year                                             468 non-null    object
 2   cgpa                                             468 non-null    float64
 3   university_name                                  468 non-null    object
 4   Critical Thinking                                468 non-null    int64
 5   Problem Solving                                  468 non-null    int64
 6   Team Work                                        468 non-null    int64
 7   Communication Skill                              468 non-null    int64
 8   Software Engineering Principal                   468 non-null    int64
 9   Data Structure & Algorithm                       468 non-null    int64
 10  Database Management                              468 non-null    int64
 11  Data Analysis                                    468 non-null    int64
 12  Web Developing Skill                             468 non-null    int64
 13  Understanding of computer architecture & System  468 non-null    int64
 14  Understanding Operating System                   468 non-null    int64
 15  Networking Concept                               468 non-null    int64
 16  Cyber Security                                   468 non-null    int64
 17  Maching Learning                                 468 non-null    int64
 18  Robotics                                         468 non-null    int64
 19  Research Skill                                   468 non-null    int64
 20  publication                                      468 non-null    int16
 21  project                                          468 non-null    int16
 22  Influencing Factor                               468 non-null    object
 23  Prefer Job                                       468 non-null    object
dtypes: float64(1), int16(2), int64(16), object(5)
memory usage: 82.4+ KB

In [29]:
df['gender'] = df['gender'].map({'Male': 0, 'Female': 1})
df['year'] = df['year'].map({'1st': 1, '2nd': 2, '3rd': 3, '4th': 4})

# One-Hot Encoding (Optional)
#gender_one_hot = pd.get_dummies(df['gender'], prefix='gender')
#year_one_hot = pd.get_dummies(df['year'], prefix='year')

# Concatenate One-Hot Encoded columns if needed
#df = pd.concat([df, gender_one_hot, year_one_hot], axis=1)
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,1,4,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,3,3,2,3,3,...,1,0,0,1,0,2,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,0,4,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,flaxible Work Life Balanced,Teaching
2,0,4,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,2,1,1,2,...,1,1,1,1,1,1,0,2,"Salary,Job Environment",Software Development
3,0,4,3.78,United International University (UIU),2,3,2,2,2,2,...,2,2,1,1,1,1,0,1,"Salary,Job Environment",Software Development
4,0,4,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,3,3,2,2,2,...,2,3,3,1,1,1,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,1,4,3.20,Northern University Bangladesh (NUB),2,1,2,2,1,1,...,1,1,1,1,1,1,0,2,Other Factor,"Bank Job,Govt Job"
464,0,4,3.64,Comilla University (CoU),2,2,2,3,2,2,...,2,2,3,1,1,2,2,4,"Job Environment,Salary","Software Development,Networking,Cyber Security..."
465,0,4,3.70,Comilla University (CoU),2,3,2,3,2,2,...,1,1,1,1,2,3,3,3,"Job Environment,Salary,Social Acceptance",Abroad
466,0,4,3.30,Northern University Bangladesh (NUB),2,2,2,1,2,2,...,1,3,2,1,0,1,0,2,"Job Environment,Salary","Networking,Cyber Security"
467,1,4,3.79,Comilla University (CoU),2,3,3,3,2,3,...,1,1,1,1,2,1,0,4,"Job Environment,Salary",Hardware Sector

In [30]:
df['Research Skill'].value_counts()

Research Skill
1    255
2     90
0     80
3     43
Name: count, dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           468 non-null    int64
 1   year                                             468 non-null    int64
 2   cgpa                                             468 non-null    float64
 3   university_name                                  468 non-null    object
 4   Critical Thinking                                468 non-null    int64
 5   Problem Solving                                  468 non-null    int64
 6   Team Work                                        468 non-null    int64
 7   Communication Skill                              468 non-null    int64
 8   Software Engineering Principal                   468 non-null    int64
 9   Data Structure & Algorithm                       468 non-null    int64
 10  Database Management                              468 non-null    int64
 11  Data Analysis                                    468 non-null    int64
 12  Web Developing Skill                             468 non-null    int64
 13  Understanding of computer architecture & System  468 non-null    int64
 14  Understanding Operating System                   468 non-null    int64
 15  Networking Concept                               468 non-null    int64
 16  Cyber Security                                   468 non-null    int64
 17  Maching Learning                                 468 non-null    int64
 18  Robotics                                         468 non-null    int64
 19  Research Skill                                   468 non-null    int64
 20  publication                                      468 non-null    int16
 21  project                                          468 non-null    int16
 22  Influencing Factor                               468 non-null    object
 23  Prefer Job                                       468 non-null    object
dtypes: float64(1), int16(2), int64(18), object(3)
memory usage: 82.4+ KB

In [32]:
df = df.rename(columns={
    'Data Analysis': 'Data Analysis skill',
    'Cyber Security': 'Cyber Security Skill',
    'Maching Learning':'Machine Learning Skill',
    'Robotics':'Robotics Skill'
})

In [33]:
df.to_csv('clean_data.csv')

In [34]:
#from pandas_profiling import ProfileReport
#from ydata_profiling import ProfileReport
# Assuming 'df' is your DataFrame
#prof = ProfileReport(df)
#prof.to_file(output_file='summary.html')

In [35]:
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security Skill,Machine Learning Skill,Robotics Skill,Research Skill,publication,project,Influencing Factor,Prefer Job
0,1,4,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,3,3,2,3,3,...,1,0,0,1,0,2,1,2,"Social Acceptance,Job Security","Software Development,Teaching"
1,0,4,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,flaxible Work Life Balanced,Teaching
2,0,4,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,2,1,1,2,...,1,1,1,1,1,1,0,2,"Salary,Job Environment",Software Development
3,0,4,3.78,United International University (UIU),2,3,2,2,2,2,...,2,2,1,1,1,1,0,1,"Salary,Job Environment",Software Development
4,0,4,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,3,3,2,2,2,...,2,3,3,1,1,1,0,5,"Salary,Job Environment",Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,1,4,3.20,Northern University Bangladesh (NUB),2,1,2,2,1,1,...,1,1,1,1,1,1,0,2,Other Factor,"Bank Job,Govt Job"
464,0,4,3.64,Comilla University (CoU),2,2,2,3,2,2,...,2,2,3,1,1,2,2,4,"Job Environment,Salary","Software Development,Networking,Cyber Security..."
465,0,4,3.70,Comilla University (CoU),2,3,2,3,2,2,...,1,1,1,1,2,3,3,3,"Job Environment,Salary,Social Acceptance",Abroad
466,0,4,3.30,Northern University Bangladesh (NUB),2,2,2,1,2,2,...,1,3,2,1,0,1,0,2,"Job Environment,Salary","Networking,Cyber Security"
467,1,4,3.79,Comilla University (CoU),2,3,3,3,2,3,...,1,1,1,1,2,1,0,4,"Job Environment,Salary",Hardware Sector

# Remove some Rows

In [36]:
#multiple_prefs = df[df['Prefer Job'].str.contains('Teaching') ]

#df_cleaned = df[~(df['Prefer Job'].str.contains('UI/UX Designing') )]
#df_cleaned = df[(df['year']==3)]

#df_cleaned.to_csv('clean_data.csv')

In [63]:
#dff = df.head(300)  
#dff.to_csv('clean_data.csv')