In [70]:
import pandas as pd
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4lmIMpD1jqLXnTCkBZP2w9Tb26Urkl2JghQUTz8id3dGVR1Z1zMLqOS4QtzFhkJ33Q1dHtQsvl-6H/pub?output=csv"

df = pd.read_csv(url)
df.columns = df.iloc[0]  # Set the first row as the header
df = df.drop(index=0)    # Drop the first row
df.reset_index(drop=True, inplace=True)
df

,Date,name,e-mail,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,2024-04-24 09:30,Israt Jahan Reshma,isratjahan151q@gmail.com,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,2024-04-24 09:58,Rafiqur,ripon18922@gmail.com,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,2024-04-24 09:58,Alamin Riyad,alaminriyad35@gmail.com,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,2024-04-24 10:18,Md Rakibul Islam,mislam221362@bscse.uiu.ac.bd,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,2024-04-24 10:18,Nahid Hasan,nahidhasan9613@gmail.com,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,2024-11-14 05:56,NaN,NaN,Male,4th,3.11,University of Rajshahi (RU),Intermediate,Advance,Advance,...,Advance,Intermediate,Basic,Intermediate,Intermediate,Basic,1,5,"Social Acceptance,Job Environment",Software Development
426,2024-11-14 05:57,NaN,NaN,Male,4th,3.52,University of Rajshahi (RU),Intermediate,Intermediate,Advance,...,Intermediate,Intermediate,Intermediate,Intermediate,Basic,Basic,0,2,"Salary,flaxible Work Life Balanced","Bank Job,BCS,Govt Job"
427,2024-11-14 05:58,NaN,NaN,Male,4th,3.88,University of Chittagong (CU),Intermediate,Intermediate,Advance,...,Intermediate,Intermediate,NaN,Advance,Advance,Advance,4,2,"Salary,flaxible Work Life Balanced","Researcher,Abroad"
428,2024-11-14 06:01,NaN,NaN,Male,4th,3.55,American International University-Bangladesh (...,Basic,Intermediate,Intermediate,...,Advance,Intermediate,Basic,Advance,Intermediate,Intermediate,1,4,Social Acceptance,"Data Analysis,ML/AI Engineer"
429,2024-11-14 06:02,NaN,NaN,Male,4th,3.39,American International University-Bangladesh (...,Basic,Basic,Intermediate,...,Advance,NaN,Intermediate,Intermediate,Intermediate,Basic,1,3,Job Environment,UI/UX Designing

In [34]:
df.shape

(425, 27)

In [35]:
df.drop(['Date','name','e-mail'], axis=1, inplace=True)
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,Female,4th,3.46,Shahjalal University of Science & Technology (...,Intermediate,Intermediate,Advance,NaN,Basic,Basic,...,Intermediate,Intermediate,Intermediate,Intermediate,Basic,Basic,1,1,"Salary,flaxible Work Life Balanced","Bank Job,BCS,Govt Job"
421,Male,4th,3.22,Shahjalal University of Science & Technology (...,Intermediate,Advance,Advance,Advance,advance,Advance,...,Advance,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,1,5,"Social Acceptance,Job Environment",Software Development
422,Male,4th,3.39,Chittagong University of Engineering & Technol...,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,Basic,...,Advance,Advance,Advance,Intermediate,Intermediate,Basic,1,2,"Social Acceptance,Job Environment","Networking,Cyber Security"
423,Male,4th,3.45,Rajshahi University of Engineering & Technolog...,Basic,Intermediate,Intermediate,Intermediate,Intermediate,Advance,...,Advance,Intermediate,Advance,Advance,Intermediate,Intermediate,1,3,"Social Acceptance,Job Environment","Data Analysis,ML/AI Engineer"
424,Male,4th,3.81,North South University (NSU),Basic,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Intermediate,Intermediate,Intermediate,Intermediate,Advance,Advance,4,3,"Salary,flaxible Work Life Balanced","Researcher,Abroad"

In [36]:
print(df.duplicated().sum())

0

In [37]:
university = df.groupby('university_name').size().reset_index(name='Count')
university = university.sort_values(by='Count',ascending=False)
print(university)

                                      university_name  Count
3   Bangabandhu Sheikh Mujibur Rahman Science & Te...     73
0   American International University-Bangladesh (...     26
11                           Comilla University (CoU)     26
44                        University of Rajshahi (RU)     25
42                      University of Chittagong (CU)     23
16  Hajee Mohammad Danesh Science & Technology Uni...     22
40              United International University (UIU)     22
38  Shahjalal University of Science & Technology (...     19
22                      Jahangirnagar University (JU)     18
20                Islamic University, Bangladesh (IU)     15
37  Rajshahi University of Engineering & Technolog...     15
25                             Khulna University (KU)     14
43                           University of Dhaka (DU)     13
7   Bangladesh University of Engineering & Technol...     13
17           Independent University, Bangladesh (IUB)     10
12            Daffodil International University (DIU)      9
28  Mawlana Bhashani Science & Technology Universi...      8
35  Patuakhali Science And Technology University (...      7
34  Patuakhali  Science and technology university ...      7
31    Noakhali Science & Technology University (NSTU)      6
15                       Faridpur Engineering College      4
41                        University of Barishal (BU)      4
32                       North South University (NSU)      4
10  Chittagong University of Engineering & Technol...      4
1                             BRAC University (BRACU)      3
24  Jessore University of Science & Technology (JUST)      3
33               Northern University Bangladesh (NUB)      3
30                           National University (NU)      3
18  International Islamic University Chittagong (I...      2
27                            Leading University (LU)      2
21                         Jagannath University (JnU)      2
19  International University of Business Agricultu...      2
4   Bangabandhu Sheikh Mujibur Rahman Science & Te...      2
2   Bangabandhu Sheikh Mujib Medical University (B...      2
36          Port City International University (PCIU)      2
39                          Sonargaon University (SU)      1
45                             Uttara University (UU)      1
23  Jatiya Kabi Kazi Nazrul Islam University (JKKNIU)      1
29                    Mymensingh Engineering College       1
26  Khulna University of Engineering & Technology ...      1
14                         East West University (EWU)      1
13  Dhaka University of Engineering & Technology (...      1
9             Canadian University of Bangladesh (CUB)      1
8              Begum Rokeya University, Rangpur (BRU)      1
6                    Bangladesh Open University (BOU)      1
5            Bangladesh Agricultural University (BAU)      1
46                                                cue      1

In [38]:
university.shape

(47, 2)

In [39]:
year = df.groupby('year').size().reset_index(name='Count')
year = year.sort_values(by='Count',ascending=False)
year

  year  Count
3  4th    323
2  3rd     55
1  2nd     30
0  1st     17

In [40]:
year.sum()

year     4th3rd2nd1st
Count             425
dtype: object

In [41]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                               10
university_name                                     0
Critical Thinking                                   5
Problem Solving                                     4
Team Work                                           4
Communication Skill                                 6
Software Engineering Principal                     16
Data Structure & Algorithm                         12
Database Management                                13
Data Analysis                                      19
Web Developing Skill                               20
Understanding of computer architecture & System    25
Understanding Operating System                     22
Networking Concept                                 28
Cyber Security                                     31
Maching Learning                                   32
Robotics                                           51
Research Skill                                     33
publication                                        44
project                                            19
Influencing Factor                                 15
Prefer Job                                          9
dtype: int64

In [42]:
df['year']=df['year'].fillna('4th')
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,Male,4th,2.5,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,NaN,NaN,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,Male,4th,3,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,Female,4th,3.46,Shahjalal University of Science & Technology (...,Intermediate,Intermediate,Advance,NaN,Basic,Basic,...,Intermediate,Intermediate,Intermediate,Intermediate,Basic,Basic,1,1,"Salary,flaxible Work Life Balanced","Bank Job,BCS,Govt Job"
421,Male,4th,3.22,Shahjalal University of Science & Technology (...,Intermediate,Advance,Advance,Advance,advance,Advance,...,Advance,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,1,5,"Social Acceptance,Job Environment",Software Development
422,Male,4th,3.39,Chittagong University of Engineering & Technol...,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,Basic,...,Advance,Advance,Advance,Intermediate,Intermediate,Basic,1,2,"Social Acceptance,Job Environment","Networking,Cyber Security"
423,Male,4th,3.45,Rajshahi University of Engineering & Technolog...,Basic,Intermediate,Intermediate,Intermediate,Intermediate,Advance,...,Advance,Intermediate,Advance,Advance,Intermediate,Intermediate,1,3,"Social Acceptance,Job Environment","Data Analysis,ML/AI Engineer"
424,Male,4th,3.81,North South University (NSU),Basic,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Intermediate,Intermediate,Intermediate,Intermediate,Advance,Advance,4,3,"Salary,flaxible Work Life Balanced","Researcher,Abroad"

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           425 non-null    object
 1   year                                             425 non-null    object
 2   cgpa                                             415 non-null    object
 3   university_name                                  425 non-null    object
 4   Critical Thinking                                420 non-null    object
 5   Problem Solving                                  421 non-null    object
 6   Team Work                                        421 non-null    object
 7   Communication Skill                              419 non-null    object
 8   Software Engineering Principal                   409 non-null    object
 9   Data Structure & Algorithm                       413 non-null    object
 10  Database Management                              412 non-null    object
 11  Data Analysis                                    406 non-null    object
 12  Web Developing Skill                             405 non-null    object
 13  Understanding of computer architecture & System  400 non-null    object
 14  Understanding Operating System                   403 non-null    object
 15  Networking Concept                               397 non-null    object
 16  Cyber Security                                   394 non-null    object
 17  Maching Learning                                 393 non-null    object
 18  Robotics                                         374 non-null    object
 19  Research Skill                                   392 non-null    object
 20  publication                                      381 non-null    object
 21  project                                          406 non-null    object
 22  Influencing Factor                               410 non-null    object
 23  Prefer Job                                       416 non-null    object
dtypes: object(24)
memory usage: 79.8+ KB

In [44]:
df['publication']=df['publication'].fillna(0)
df['project']=df['project'].fillna(0)
print(df['publication'])
print(df['project'])

0      1
1      0
2      0
3      0
4      0
      ..
420    1
421    1
422    1
423    1
424    4
Name: publication, Length: 425, dtype: object
0      2
1      0
2      2
3      1
4      5
      ..
420    1
421    5
422    2
423    3
424    3
Name: project, Length: 425, dtype: object

In [45]:
#converted publication and research_paper int int32 form
convert_dict = {'publication': 'int16',
                'project': 'int16',
                'cgpa':'float64'
               }
df = df.astype(convert_dict)
df.sample(10)

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
23,Male,4th,3.01,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,Basic,...,Basic,Intermediate,Basic,Basic,Basic,Basic,0,4,"Job Security,Job Environment,Salary","Software Development,Bank Job,Abroad"
305,Male,4th,3.00,Jahangirnagar University (JU),Intermediate,Intermediate,Advance,Advance,Basic,Intermediate,...,Intermediate,Basic,Basic,Basic,Basic,Basic,0,2,flaxible Work Life Balanced,Business
21,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Intermediate,Intermediate,Intermediate,Intermediate,Basic,...,Basic,Intermediate,Basic,Basic,Basic,Intermediate,2,4,flaxible Work Life Balanced,Software Development
166,Male,4th,3.55,University of Chittagong (CU),Advance,Basic,Advance,Advance,Basic,Basic,...,Intermediate,Basic,Basic,Basic,Basic,Intermediate,0,0,Job Security,"Bank Job,BCS,Govt Job"
336,Male,4th,3.55,Chittagong University of Engineering & Technol...,Intermediate,Advance,Intermediate,Advance,advance,Advance,...,Advance,Advance,Advance,Basic,Basic,Basic,0,3,"Salary,flaxible Work Life Balanced","Software Development,Networking,Cyber Security..."
159,Male,4th,2.76,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Basic,Intermediate,Intermediate,Intermediate,Intermediate,...,Basic,Basic,Basic,Intermediate,Basic,Basic,0,4,"Social Acceptance,Job Security,Salary","Software Development,Data Analysis,Abroad"
119,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,3,Job Environment,"Database Administration,Data Analysis"
405,Male,4th,3.45,Patuakhali Science And Technology University (...,Intermediate,Intermediate,Intermediate,Advance,Intermediate,Advance,...,Advance,Intermediate,Intermediate,Advance,Advance,Basic,1,3,"Social Acceptance,Job Environment","Database Administration,Data Analysis,ML/AI En..."
103,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Basic,Intermediate,Intermediate,Intermediate,Intermediate,...,Intermediate,Intermediate,Basic,Intermediate,Intermediate,Basic,0,3,Social Acceptance,Govt Job
326,Male,4th,3.23,University of Barishal (BU),Advance,Advance,Advance,Advance,Basic,Basic,...,Intermediate,Basic,Intermediate,Basic,Basic,Basic,0,1,flaxible Work Life Balanced,"Management,Business"

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           425 non-null    object
 1   year                                             425 non-null    object
 2   cgpa                                             415 non-null    float64
 3   university_name                                  425 non-null    object
 4   Critical Thinking                                420 non-null    object
 5   Problem Solving                                  421 non-null    object
 6   Team Work                                        421 non-null    object
 7   Communication Skill                              419 non-null    object
 8   Software Engineering Principal                   409 non-null    object
 9   Data Structure & Algorithm                       413 non-null    object
 10  Database Management                              412 non-null    object
 11  Data Analysis                                    406 non-null    object
 12  Web Developing Skill                             405 non-null    object
 13  Understanding of computer architecture & System  400 non-null    object
 14  Understanding Operating System                   403 non-null    object
 15  Networking Concept                               397 non-null    object
 16  Cyber Security                                   394 non-null    object
 17  Maching Learning                                 393 non-null    object
 18  Robotics                                         374 non-null    object
 19  Research Skill                                   392 non-null    object
 20  publication                                      425 non-null    int16
 21  project                                          425 non-null    int16
 22  Influencing Factor                               410 non-null    object
 23  Prefer Job                                       416 non-null    object
dtypes: float64(1), int16(2), object(21)
memory usage: 74.8+ KB

In [47]:
project = df.groupby('project').size().reset_index(name='Count')
#year = year.sort_values(by='Count',ascending=False)
project

    project  Count
0         0     44
1         1     87
2         2    111
3         3     63
4         4     54
5         5     46
6         6     14
7         7      1
8         9      2
9        10      2
10       11      1

In [48]:
publication = df.groupby('publication').size().reset_index(name='Count')
#year = year.sort_values(by='Count',ascending=False)
publication

   publication  Count
0            0    267
1            1     89
2            2     23
3            3     15
4            4     17
5            5     11
6            6      2
7            7      1

In [49]:
df.describe()

0            cgpa  publication     project
count  415.000000   425.000000  425.000000
mean     3.316554     0.757647    2.550588
std      0.463189     1.321125    1.806149
min      0.000000     0.000000    0.000000
25%      3.090000     0.000000    1.000000
50%      3.360000     0.000000    2.000000
75%      3.600000     1.000000    4.000000
max      4.000000     7.000000   11.000000

In [50]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                               10
university_name                                     0
Critical Thinking                                   5
Problem Solving                                     4
Team Work                                           4
Communication Skill                                 6
Software Engineering Principal                     16
Data Structure & Algorithm                         12
Database Management                                13
Data Analysis                                      19
Web Developing Skill                               20
Understanding of computer architecture & System    25
Understanding Operating System                     22
Networking Concept                                 28
Cyber Security                                     31
Maching Learning                                   32
Robotics                                           51
Research Skill                                     33
publication                                         0
project                                             0
Influencing Factor                                 15
Prefer Job                                          9
dtype: int64

In [51]:

df['cgpa'].isna().sum()

10

In [52]:
df['cgpa'].mean()

3.31655421686747

In [53]:
df['cgpa']=df['cgpa'].fillna(df['cgpa'].mean())

In [54]:
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Advance,...,Basic,NaN,NaN,Basic,NaN,Intermediate,1,2,Job Security,Software Development
1,Male,4th,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Basic,Basic,Basic,Basic,Basic,Basic,...,Basic,Basic,Basic,Basic,Basic,Basic,0,0,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Intermediate,Basic,Basic,Intermediate,...,Basic,Basic,Basic,Basic,Basic,Basic,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),Intermediate,Intermediate,Intermediate,Intermediate,Basic,Intermediate,...,Intermediate,Intermediate,Basic,Basic,Basic,Basic,0,1,Job Security,Software Development
4,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,Intermediate,Intermediate,Advance,Intermediate,Intermediate,Intermediate,...,Intermediate,Advance,Advance,Basic,Basic,Basic,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,Female,4th,3.46,Shahjalal University of Science & Technology (...,Intermediate,Intermediate,Advance,NaN,Basic,Basic,...,Intermediate,Intermediate,Intermediate,Intermediate,Basic,Basic,1,1,"Salary,flaxible Work Life Balanced","Bank Job,BCS,Govt Job"
421,Male,4th,3.22,Shahjalal University of Science & Technology (...,Intermediate,Advance,Advance,Advance,advance,Advance,...,Advance,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,1,5,"Social Acceptance,Job Environment",Software Development
422,Male,4th,3.39,Chittagong University of Engineering & Technol...,Intermediate,Intermediate,Intermediate,Intermediate,Intermediate,Basic,...,Advance,Advance,Advance,Intermediate,Intermediate,Basic,1,2,"Social Acceptance,Job Environment","Networking,Cyber Security"
423,Male,4th,3.45,Rajshahi University of Engineering & Technolog...,Basic,Intermediate,Intermediate,Intermediate,Intermediate,Advance,...,Advance,Intermediate,Advance,Advance,Intermediate,Intermediate,1,3,"Social Acceptance,Job Environment","Data Analysis,ML/AI Engineer"
424,Male,4th,3.81,North South University (NSU),Basic,Intermediate,Intermediate,Advance,Basic,Intermediate,...,Intermediate,Intermediate,Intermediate,Intermediate,Advance,Advance,4,3,"Salary,flaxible Work Life Balanced","Researcher,Abroad"

In [55]:
df['Prefer Job'].isna().sum()

9

In [56]:
df['Prefer Job']=df['Prefer Job'].fillna('Other')
df['Influencing Factor']=df['Influencing Factor'].fillna('Other Factor')

In [57]:
df.isna().sum()

0
gender                                              0
year                                                0
cgpa                                                0
university_name                                     0
Critical Thinking                                   5
Problem Solving                                     4
Team Work                                           4
Communication Skill                                 6
Software Engineering Principal                     16
Data Structure & Algorithm                         12
Database Management                                13
Data Analysis                                      19
Web Developing Skill                               20
Understanding of computer architecture & System    25
Understanding Operating System                     22
Networking Concept                                 28
Cyber Security                                     31
Maching Learning                                   32
Robotics                                           51
Research Skill                                     33
publication                                         0
project                                             0
Influencing Factor                                  0
Prefer Job                                          0
dtype: int64

In [58]:
df=df.fillna(0)

In [59]:
df.isna().sum().sum()

0

In [60]:
df=df.replace({'Basic','basic'}, 1)
df=df.replace({'Intermediate','intermediate'},2)
df=df.replace({'Advance','advance'},3)
df

,gender,year,cgpa,university_name,Critical Thinking,Problem Solving,Team Work,Communication Skill,Software Engineering Principal,Data Structure & Algorithm,...,Understanding Operating System,Networking Concept,Cyber Security,Maching Learning,Robotics,Research Skill,publication,project,Influencing Factor,Prefer Job
0,Female,4th,3.84,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,3,2,2,3,...,1,0,0,1,0,2,1,2,Job Security,Software Development
1,Male,4th,2.50,Bangabandhu Sheikh Mujibur Rahman Science & Te...,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,flaxible Work Life Balanced,Teaching
2,Male,4th,3.34,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,2,1,1,2,...,1,1,1,1,1,1,0,2,Job Environment,Software Development
3,Male,4th,3.78,United International University (UIU),2,2,2,2,1,2,...,2,2,1,1,1,1,0,1,Job Security,Software Development
4,Male,4th,3.00,Bangabandhu Sheikh Mujibur Rahman Science & Te...,2,2,3,2,2,2,...,2,3,3,1,1,1,0,5,Salary,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,Female,4th,3.46,Shahjalal University of Science & Technology (...,2,2,3,0,1,1,...,2,2,2,2,1,1,1,1,"Salary,flaxible Work Life Balanced","Bank Job,BCS,Govt Job"
421,Male,4th,3.22,Shahjalal University of Science & Technology (...,2,3,3,3,3,3,...,3,2,2,2,2,2,1,5,"Social Acceptance,Job Environment",Software Development
422,Male,4th,3.39,Chittagong University of Engineering & Technol...,2,2,2,2,2,1,...,3,3,3,2,2,1,1,2,"Social Acceptance,Job Environment","Networking,Cyber Security"
423,Male,4th,3.45,Rajshahi University of Engineering & Technolog...,1,2,2,2,2,3,...,3,2,3,3,2,2,1,3,"Social Acceptance,Job Environment","Data Analysis,ML/AI Engineer"
424,Male,4th,3.81,North South University (NSU),1,2,2,3,1,2,...,2,2,2,2,3,3,4,3,"Salary,flaxible Work Life Balanced","Researcher,Abroad"

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 24 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   gender                                           425 non-null    object
 1   year                                             425 non-null    object
 2   cgpa                                             425 non-null    float64
 3   university_name                                  425 non-null    object
 4   Critical Thinking                                425 non-null    int64
 5   Problem Solving                                  425 non-null    int64
 6   Team Work                                        425 non-null    int64
 7   Communication Skill                              425 non-null    int64
 8   Software Engineering Principal                   425 non-null    int64
 9   Data Structure & Algorithm                       425 non-null    int64
 10  Database Management                              425 non-null    int64
 11  Data Analysis                                    425 non-null    int64
 12  Web Developing Skill                             425 non-null    int64
 13  Understanding of computer architecture & System  425 non-null    int64
 14  Understanding Operating System                   425 non-null    int64
 15  Networking Concept                               425 non-null    int64
 16  Cyber Security                                   425 non-null    int64
 17  Maching Learning                                 425 non-null    int64
 18  Robotics                                         425 non-null    int64
 19  Research Skill                                   425 non-null    int64
 20  publication                                      425 non-null    int16
 21  project                                          425 non-null    int16
 22  Influencing Factor                               425 non-null    object
 23  Prefer Job                                       425 non-null    object
dtypes: float64(1), int16(2), int64(16), object(5)
memory usage: 74.8+ KB

In [30]:
df = df.rename(columns={
    'Data Analysis': 'Data Analysis skill',
    'Cyber Security': 'Cyber Security Skill',
    'Maching Learning':'Machine Learning Skill',
    'Robotics':'Robotics Skill'
})

In [31]:
df.to_csv('clean_data.csv')

In [32]:
#from pandas_profiling import ProfileReport
from ydata_profiling import ProfileReport
# Assuming 'df' is your DataFrame
prof = ProfileReport(df)
#prof.to_file(output_file='summary.html')